<h2>Password Assignment</h2>
<form [formGroup] = "form" (ngSubmit)="change()">
    <div *ngIf="!valid && submitted" class="alert alert-danger">Form is invalid!</div>
    <div *ngIf="valid && submitted" class="alert alert-success">Password changed!</div>
    <div class="form-group">
        <label for="old">Old Password</label>
        <input 
        type="text"
        formControlName="old"
        id="old"
        class="form-control">
        <div *ngIf="checkOldMissing()" class="alert alert-danger">Old password is required!</div>
        <div *ngIf="checkOldCorrect()" class="alert alert-danger">Old password is incorrect!</div>
        <div *ngIf="old?.pending">
            <div class="loader"></div><p>Checking Old Password...</p>
        </div>
    </div>
    <div class="form-group">
        <label for="new1">New Password</label>
        <input 
        type="text"
        formControlName="new1"
        id="new1"
        class="form-control">
        <div *ngIf="checkNew1Missing()" class="alert alert-danger">New password is required!</div>
    </div>
    <div class="form-group">
        <label for="new2">Confirm Password</label>
        <input 
        type="text"
        formControlName="new2"
        id="new2"
        class="form-control">
        <div *ngIf="checkNew2Missing()" class="alert alert-danger">Confirmation password is required!</div>
        <div *ngIf="checkMatching()" class="alert alert-danger">Passwords dont match!</div>
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
