
.zippy { 
  border: 1px solid #ccc;
  border-radius: 2px;
}

.zippy-title { 
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
}

.zippy-body { 
  padding: 20px;
}

.expanded { 
  background: rgb(188, 233, 248);
}