@import "~bootstrap/dist/css/bootstrap.css";

.navbar {
    font-size: 50px;
}

.navbar-brand {
    font-size: 50px;
}

.active {
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/andromeda-galaxy-royalty-free-image-1585682435.jpg?resize=980:*");
    color: white;
}